.dialog {
    position: absolute;
    min-width: 200px;
    min-height: 200px;
    background-color: #fafafa;
    box-shadow: 2px 2px 6px rgb(206, 206, 206);
    border-radius: 5px;
}

.dialog.maximized {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 50px !important;
    width: 100% !important;
    height: calc(100% - 50px) !important;
    transform: translate(0px) !important;
    box-shadow: 0px 0px 0px !important;
    border-radius: 0px !important;
}

.header {
    background-color: lightgray;
    padding: 10px;
    overflow: auto;
    line-height: 10px;
    border-radius: 5px 5px 0 0;
    cursor: default;
    color: dimgray;
    text-align: left;
    user-select: none;
}
.dialog.maximized .header {
    border-radius: 0;
}
.header_icon {
    float: left;
    padding: 5px;
    margin: -5px;
    background-color: darkcyan;
    border-radius: 3px;
    cursor: default;
    width: 10px;
    height: 10px;
}

.header_title {
    float: left;
    padding: 5px;
    margin: -5px 5px;
}

.header_action {
    float: right;
    padding: 5px;
    margin: -5px -5px -5px 10px;
    background-color: lightgrey;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: default;
}
.header_action:hover {
    background-color: grey;
}

.focused {
    box-shadow: 2px 2px 6px rgb(139, 139, 139);
}

.focused > .header {
    background-color: dimgray;
    color: white;
}

.focused .header_close {
    background-color: brown;
}

.header_minimize:hover {
    background-color: cornflowerblue;
}
.header_maximize:hover {
    background-color: goldenrod;
}
.header_close:hover {
    background-color: crimson;
}

.content {
    overflow: auto;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 30px);
}

.dialog.resizing .content {
    background-color: white;
    visibility: hidden;
    user-select: none;
}
.footer {
    width: 100%;
    position: relative;
}
.footer > .resizer {
    position:absolute;
    cursor: nwse-resize;
    background-color: transparent;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    border-radius: 0 0 5px 0;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent dimgrey transparent;
}
